@model UDAS.ViewModels.CourseScheduleViewModel

@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/AddSchedule.css"; 
}

@{
    if (!ViewData.ModelState.IsValid)
    {
        /* <script src="/js/site.js"></script> */
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Hata',
                text: 'Bu saatler girilen gün için dolu, lütfen farklı bir zaman aralığı seçin',
            });
        </script>
    }
}

    <div class="container"></div>
        <div class="left">
            
        </div>

        <div class="center">
            <div class="center-box">

                <form method="post" action="/MainMenu/AddSchedule">

                    <div class="name-bar">
                        <p id="title">Program Adı:</p>
                        <input type="text" required id="schedule-name" name="scheduleName" value="Ders Programı - 1">
                    </div>

                    <div id="lecture-row">
                        <p id="lecture">Ders:</p> 
                        <select name="CourseId" id="lectures">

                            @foreach(var course in Model.Courses){
                                <option value="@course.Id">@course.CourseName</option>
                            }

                        </select>

                        <!-- <p id="year">Sınıf:</p>
                        <select name="Year" id="years">

                            @for(int i=1; i<=4; i++){
                                <option value="@i">@i</option>
                            }

                        </select> -->

                    </div>
                                    
                    <div id="time-row">

                        <div id="day-div">
                            <p id="day">Gün:</p>
                            <select name="Day" id="days">

                                @foreach(var day in Model.WeekDays){
                                <option value="@day.Id">@day.Name</option>
                                }

                    
                            </select>
                        </div>

                        <div id="hour-div">
                            <p id="clock">Saat Aralığı:</p>
                            <select name="StartTime" id="start-time">
                                @foreach(var time in Model.CourseTimes){
                                    <option value="@time.StartTime">@time.StartTime</option>
                                }
                            </select>
                            <p id="dot">-</p>
                            <select name="EndTime" id="end-time">
                                @foreach(var time in Model.CourseTimes){
                                    <option value="@time.EndTime">@time.EndTime</option>
                                }
                                
                            </select>
                        </div>

                    </div>
                                        
                                        
                    <div id="lecturer-row">

                        <div id="class-div">
                            <p id="clock">Sınıf:</p>
                            <select name="ClassroomId" id="classes">
                                @foreach(var classroom in Model.Classrooms){
                                    <option value="@classroom.Id">@classroom.RoomName</option>
                                }
                            </select>
                        </div>

                        <div id="lecturer-div">
                            <p id="clock">Öğretim Görevlisi:</p>
                            <select name="LecturerId" id="lecturers">
                                @foreach(var lecturer in Model.Users){
                                    <option value="@lecturer.Id">@lecturer.Name @lecturer.Surname</option>
                                }
                            </select>
                        </div>

                    </div>

                    <div class="button-bar">
                        <button type="submit" name="action" value="abort" id="abort-btn">Programı İptal Et</button>
                        <!-- <button type="submit" name="action" value="save" id="save-btn">Programı Kaydet</button> -->
                        <button type="submit" name="action" value="add" id="add-btn">Programa Ekle</button>
                    </div>
                    
                </form>

            </div>

            

        </div>

        <div class="right">

        </div>

    </div>


