@model UDAS.ViewModels.SittingAddViewModel

@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/AddSitting.css";
}

@{
    if (!ViewData.ModelState.IsValid)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Hata',
                text: 'Bir Hata Oluştu!',
            });
        </script>
    }
}


<div class="left"></div>

<div class="center">
    <div class="sitting-box">

        <form method="post" action="/Sitting/AddSitting">
            <div class="name-bar">
                <p id="Title">Oturma Planı Adı:</p>
                <input type="text" id="sitting-name" name="PlanName" value="Oturma Programı - 1" />
            </div>

            <div class="classroom-row">
                <p id="selection">Hangi dersliği seçmek istersiniz?</p>
                <select name="classrooms" id="classrooms">

                    @foreach(var classroom in Model.Classrooms){
                        <option value="@classroom.Id" data-capacity="@classroom.Capacity">@classroom.RoomName</option>
                    }

                </select>
                <button type="button" id="select-btn">Seç</button>
            </div>

            <div class="classroom-details">
                <div class="left-side">
                    <div class="listbox" id="listbox">
                        <!-- öğrenci isimleri, js'de ---->
                    </div>

                    <div class="buttons-div">
                        <button type="button" id="add-btn">Ekle</button>
                        <button type="button" id="delete-btn">Sil</button>
                    </div>
                </div>

                <div class="right-side">
                    <div class="normal-size">
                        <p class="bold-text">Normal Kapasite;</p>
                        <p class="capacity"><span class="student-number"></span> / <span class="real-max-capacity">@Model.Classrooms.FirstOrDefault()?.Capacity</span> </p>
                    </div>

                    <div class="exam-size">
                        <p class="bold-text">Sınav Kapasitesi;</p>
                        <p class="capacity"><span class="student-number"></span> / <span class="real-max-capacity">@Model.Classrooms.FirstOrDefault()?.Capacity</span> </p>
                    </div>
                </div>
            </div>

            <div class="classroom-display">
                @* Partial View Buraya Gelecek *@
            </div>

            <div class="button-bar">
                <button type="button" id="create-btn">Rastgele Oturma Düzeni Oluştur</button>
                <button type="button" id="deneme-btn">Deneme</button>
                <button type="submit" name="action" value="save" id="send-btn">Oturma Düzenini Kaydet</button>
            </div>
        </form>
    </div>

    <div class="blank-div"></div>
</div>

<div class="right"></div>

<script src="/js/AddSitting.js"></script>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select-btn').click(function () {
                const selectedClassroom = $('#classrooms');

                if (selectedClassroom) {
                    $.get('@Url.Action("LoadPartialView", "Sitting")', { classroomId: selectedClassroom.val() }, function (data) {
                        $('.classroom-display').html(data);

                        updateAllSeats(); 
                    });
                    
                } else {
                    $('.classroom-display').html('<p>Lütfen bir derslik seçin.</p>');
                }

                const capacityDisplays = document.querySelectorAll(".real-max-capacity");
                const selectedOption = selectedClassroom.options[selectedClassroom.selectedIndex];
                const capacity = selectedOption.getAttribute("data-capacity");

                if (capacity) {
                    capacityDisplays.forEach((span) => {
                        span.textContent = capacity;
                    });
                } else {
                    capacityDisplays.forEach((span) => {
                        span.textContent = "-";
                    });
                }
            });
        });
    </script>
}


