@model UDAS.ViewModels.ClassroomViewModel

@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/Classroom.css";
}

    <!-- <div class="container">
      
    </div> -->

    <div class="left"></div>

      <div class="center">
        <div class="classroom-box">
          <h1>@Model.Classroom?.RoomName</h1>

          <hr />

          <div class="mid-section">
            <div class="mid-left">
              <img
                id="classroom-img"
                src="/img/derslik.png"
                alt="Derslik-resmi"
              />
            </div>

            <div class="mid-right">
              <div id="row1">
                <div class="top">
                  <div class="cols"><p class="capital-text">İd;</p></div>
                  <div class="cols"><p class="capital-text">Derslik Adı;</p></div>
                </div>
                
                <div class="bottom">
                  <div class="cols"><p>@Model.Classroom.Id</p></div>
                  <div class="cols"><p>@Model.Classroom.RoomName</p></div>
                </div>
              </div>
              <div id="row2">
                <div class="top">
                  <div class="cols"><p class="capital-text">Kapasite;</p></div>
                  <div class="cols"><p class="capital-text">Ders Veren Öğretim Görevlileri;</p></div>
                </div>
                
                <div class="bottom">
                  <div class="cols"><p>@Model.Classroom.Capacity</p></div>
                  <div class="cols">
                    @foreach(var lecturer in Model.Lecturers){
                      <p>@lecturer.Name @lecturer.Surname</p>
                    }
                  </div>
                </div>
              </div>
              <div id="row3">
                <div class="top">
                  <div class="cols"><p class="capital-text">Kullanıdığı Günler;</p></div>
                  <div class="cols"><p class="capital-text">Kullanıdığı Saatler;</p></div>
                </div>
                
                <div class="bottom">
                  <div class="cols">
                    @foreach(var day in Model.Days){
                      <p>@day</p>
                    }
                  </div>
                  <div class="cols">
                    @foreach(var courseTime in Model.CourseTimes){
                      <p>@courseTime.StartTime - @courseTime.EndTime</p>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr />
          <div class="classroom-status">
            <h1>Doluluk</h1>

            <table class="schedule">
              <thead>
                <tr class="days">
                  <th></th>
                  <th>Pazartesi</th>
                  <th>Salı</th>
                  <th>Çarşamba</th>
                  <th>Perşembe</th>
                  <th>Cuma</th>
                </tr>
              </thead>

              <tbody>

                @foreach(var timeSlot in Model.Schedules.GroupBy(s => new {s.StartTime, s.EndTime})){
                  <tr>
                    <td class="times">@timeSlot.Key.StartTime - @timeSlot.Key.EndTime</td>

                    <td>
                      @{
                        var monday = timeSlot.FirstOrDefault(s => s.Day == "1");
                        if (monday != null)
                        {
                            @($"{monday.Course?.CourseName} ({monday.Classroom?.RoomName}) - {monday.Lecturer?.Name} {monday.Lecturer?.Surname}")
                        }
                      }
                    </td>

                    <td>
                      @{
                        var tuesday = timeSlot.FirstOrDefault(s => s.Day == "2");
                        if (tuesday != null)
                        {
                            @($"{tuesday.Course?.CourseName} ({tuesday.Classroom?.RoomName}) - {tuesday.Lecturer?.Name} {tuesday.Lecturer?.Surname}")
                        }
                      }
                    </td>

                    <td>
                      @{
                        var wednesday = timeSlot.FirstOrDefault(s => s.Day == "3");
                        if (wednesday != null)
                        {
                            @($"{wednesday.Course?.CourseName} ({wednesday.Classroom?.RoomName}) - {wednesday.Lecturer?.Name} {wednesday.Lecturer?.Surname}")
                        }
                      }
                    </td>

                    <td>
                      @{
                        var thursday = timeSlot.FirstOrDefault(s => s.Day == "4");
                        if (thursday != null)
                        {
                            @($"{thursday.Course?.CourseName} ({thursday.Classroom?.RoomName}) - {thursday.Lecturer?.Name} {thursday.Lecturer?.Surname}")
                        }
                      }
                    </td>

                    <td>
                      @{
                        var friday = timeSlot.FirstOrDefault(s => s.Day == "5");
                        if (friday != null)
                        {
                            @($"{friday.Course?.CourseName} ({friday.Classroom?.RoomName}) - {friday.Lecturer?.Name} {friday.Lecturer?.Surname}")
                        }
                      }
                    </td>
                  </tr>
                }

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="right"></div>